body {
    background-color:sienna;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
}
#Questions input {
    Width: 40%;
    border: 2px solid wheat;
    background-color:royalblue;
    color:silver;
    font-size: 18px;
    margin: .25% auto;
    border-radius: 7px;
}